<!-- <p>{{data.name}}</p> -->
<!-- <p>{{data?.name}}</p>
<p>{{data?.age}}</p> -->
<!-- <p>{{ ( change$ | async ).name}}</p>
<p>{{ ( change$ | async ).age}}</p> -->
<!-- <button (click)="change()">test</button> -->
<h1>sub1</h1>
<p>{{appSV.getTextObserver() | async}}</p>
<!-- <button (click)="changeSub()">Change from sub1</button> -->
