<!-- {{ text$ | async }}
<input #input type="text">
<button type="submit" (click)="nextS()">next</button>
<button type="submit" (click)="unsub()">UnSub</button> -->
<form [formGroup]="form" style="padding: 30px;">
    <input type="text" formControlName="name">
    <input type="text" formControlName="lastname">
    <br>
    <br>
    <br>
    <p>form array name</p>
    <ng-container formArrayName="addr">
        <ng-container *ngFor="let item of form['controls']['addr']['controls'];let i = index" [formGroupName]="i">
            <input formControlName="addrName">
            <button (click)="addFormArray()" >add</button>
            <button (click)="removeFormArray(i)">remove</button>
        </ng-container>        
    </ng-container>
</form>

<pre>{{form.getRawValue() | json}}</pre>

<!-- <sub></sub>
<app-sub2></app-sub2> -->







































<!-- <button (click)="next()">next</button>
<hr>

<sub [change$]="changeSV.change$"></sub> -->

<!-- <input
    [displayMonths]="displayMonths" 
    [navigation]="navigation" 
    [outsideDays]="outsideDays"
    [showWeekNumbers]="showWeekNumbers" 
    ngbDatepicker #d="ngbDatepicker"                            
    (click)="d.toggle()"
    [dayTemplate]="tt"                          
    style="cursor: pointer"
    class="form-control">
<ng-template #tt let-date let-focused="focused">
    <span class="custom-day"
            [class.focused]="focused"
            
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
        {{ date.day }}
    </span>
</ng-template> -->